{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "parser": "typescript",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "useTabs": false
}
